@import "tailwindcss";

@layer base {
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

* {
  scrollbar-width: 9px;
  scrollbar-color: white black;
}

*::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
}

a {
  text-decoration: none;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.error-message {
  color: #ff1515;
}

.underline-animation-black::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

.underline-animation-black:hover::after {
  width: 100%;
}

.underline-animation-white::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.underline-animation-white:hover::after {
  width: 100%;
}

.placeholder-blue::placeholder {
  color: rgba(12, 109, 236, 0.6);
}

html {
  overflow-y: scroll;
}

button {
  cursor: pointer;
}